<h1 class="title">My Profile</h1>
<section *ngIf="userService.profile$ | async as profile">
  <div class="avatar-container">
    <div>
      <img [src]="profile.avatar.data" [alt]="profile.avatar.name" />
      <isg-uploader
        [label]="'Update Avatar'"
        [justIcon]="true"
        [uploadIcon]="'photo_camera'"
        [acceptedTypes]="'image/png, image/gif, image/jpeg'"
        (itemUploaded)="updateAvatar($event)"
      ></isg-uploader>
    </div>
    <div>
      <label>{{ profile.user.name }}</label>
    </div>
  </div>
</section>
