<h1 class="title">My Profile</h1>
<mat-divider></mat-divider>
<section *ngIf="user$ | async as user">
  <div class="avatar-container">
    <label>Current Photo</label>
    <div class="img-container">
      <img [src]="user.avatar?.data ?? default_avatar" [alt]="'Avatar Image'" />
      <isg-uploader
        [label]="'Update Avatar'"
        [justIcon]="true"
        [uploadIcon]="'photo_camera'"
        [acceptedTypes]="'image/png, image/gif, image/jpeg'"
        (itemUploaded)="updateAvatar($event)"
      ></isg-uploader>
    </div>
  </div>
  <mat-divider></mat-divider>
  <form [formGroup]="profileForm">
    <isg-editable-information-row formControlName="name" (save)="onSave('name')">
      <span slot="label">Name</span>
    </isg-editable-information-row>
    <isg-editable-information-row formControlName="email" [type]="'email'" (save)="onSave('email')">
      <span slot="label">Email</span>
    </isg-editable-information-row>
    <isg-editable-information-row formControlName="dob" [type]="'date'" (save)="onSave('dob')">
      <span slot="label">Date of Birth</span>
    </isg-editable-information-row>
  </form>

  <div class="container">
    <h2>Update Password</h2>
    <isg-button [label]="'Request Change Password'" (clicked)="onUpdatePassword()"></isg-button>
  </div>

  <div class="delete-account-container">
    <h2>Delete your account</h2>
    <span>Delete your account permanently</span>
    <isg-button [color]="'warn'" [label]="'Delete Account'" (clicked)="onDeleteAccount()"></isg-button>
  </div>
</section>
