{
  "singleQuote": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "tabWidth": 2,
  "trailingComma": "none",
  "semi": true,
  "arrowParens": "always",
  "printWidth": 160,
  "useTabs": false,
  "plugins": []
}
