<div class="container">
  <h2>Update Password</h2>
  <isg-form-field-input [formCtrl]="passwordForm.get('oldPassword')">
    <span slot="label">Old Password</span>
  </isg-form-field-input>
  <isg-form-field-input [formCtrl]="passwordForm.get('confirmPassword')">
    <span slot="label">Confirm Password</span>
  </isg-form-field-input>
  <isg-form-field-input [formCtrl]="passwordForm.get('newPassword')">
    <span slot="label">New Password</span>
  </isg-form-field-input>
  <isg-button [label]="'Change Password'" [isLoading]="isUpdating" (clicked)="onUpdatePassword()"></isg-button>
</div>
