/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/custom-theme.scss";
// Bootstrap and its default variables
@import "../../../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../../../node_modules/bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  box-sizing: border-box !important;
}

ul {
  list-style: none;
}

.tcs-center-loading {
  width: 100%;
  height: 100%;
  .mat-spinner {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.tcs-section {
  border-width: 1px;
  border-style: solid;
  padding: 1rem;
}

.center {
  text-align: center;
}

.mat-drawer-container {
  .mat-drawer {
    overflow: hidden;
    &.mat-drawer-side {
      border: 0 !important;
    }
    .mat-drawer-inner-container {
      background-repeat: no-repeat;
      background-size: 120px;
      background-position: top center;
      height: 100%;
      margin-top: 10px;
    }
  }
}
