@import '~@angular/material/theming';

@import './custom-mixins.scss';

@include mat-core();

$mat-dark-custom: (
  50: #e4f0f9,
  100: #c6dae4,
  200: #a7c0cd,
  300: #87a6b6,
  400: #6f92a4,
  500: #567e93,
  600: #4a7082,
  700: #3b5b6b,
  800: #2d4856,
  900: #1c333f,
  A100: #c9cde1,
  A200: #a7adcd,
  A400: #848cbc,
  A700: #6972b3,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  ),
);

$tsc-dark-primary: mat-palette($mat-dark-custom);
$tsc-dark-accent: mat-palette($mat-purple, A200, A100, A400);
$tsc-dark-warn: mat-palette($mat-red);
$tsc-dark-theme: mat-dark-theme(
  (
    color: (
      primary: $tsc-dark-primary,
      accent: $tsc-dark-accent,
      warn: $tsc-dark-warn,
    ),
  )
);

$mat-light-custom: (
  50: #e4f0f9,
  100: #c6dae4,
  200: #a7c0cd,
  300: #87a6b6,
  400: #6f92a4,
  500: #567e93,
  600: #4a7082,
  700: #3b5b6b,
  800: #2d4856,
  900: #1c333f,
  A100: #c9cde1,
  A200: #a7adcd,
  A400: #848cbc,
  A700: #6972b3,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: $black-87-opacity,
    600: $black-87-opacity,
    700: $black-87-opacity,
    800: $black-87-opacity,
    900: $black-87-opacity,
    A100: white,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity,
  ),
);

$tsc-light-primary: mat-palette($mat-light-custom);
$tsc-light-accent: mat-palette($mat-pink, A200, A100, A400);
$tsc-light-warn: mat-palette($mat-red);
$tsc-light-theme: mat-light-theme(
  (
    color: (
      primary: $tsc-light-primary,
      accent: $tsc-light-accent,
      warn: $tsc-light-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

$light: #fff;
$dark-background: #303030;
$light-background: #f7f7fa;
$success: #4bb543;

.dark {
  @include angular-material-theme($tsc-dark-theme);
  @include apply-theme($tsc-dark-theme);
  background-color: $dark-background;
  .mat-drawer {
    background-color: #262626;
    .mat-drawer-inner-container {
      background-image: url('/assets/images/logo-light.png');
    }
  }
}

.light {
  @include angular-material-theme($tsc-light-theme);
  @include apply-theme($tsc-light-theme);
  background-color: $light-background;
  .mat-drawer {
    background-color: #e5e5e5;
    .mat-drawer-inner-container {
      background-image: url('/assets/images/logo.png');
    }
  }
}

// Global themed classes

.tcs-section {
  &.dark {
    background-color: rgba(48, 48, 48, 0.75);
    .mat-form-field,
    .mat-checkbox-label,
    .mat-label,
    .mat-h2,
    .mat-form-field-outline,
    .mat-form-field-label {
      color: $light !important;
    }
  }
}

.tsc-success {
  color: $success;
}

.dark {
  .tsc-sport-img {
    &.tsc-sport-run.selected {
      background-image: url('/assets/images/user/running-selected-dark.svg')!important;
    }
    &.tsc-sport-swim.selected {
      background-image: url('/assets/images/user/swimmer-selected-dark.svg')!important;
    }
    &.tsc-sport-bike.selected {
      background-image: url('/assets/images/user/bicycle-selected-dark.svg')!important;
    }
  }
}
