@use 'sass:map';
@use 'sass:meta';
@use '@angular/material' as mat;

@mixin color($theme) {
  $config: mat.get-color-config($theme);
  $primary: map.get($config, 'primary');

  tcs-landing-page {
    .btn-signup {
      .mat-mdc-button-base {
        background-color: mat.get-color-from-palette($primary, 700);
      }
    }
    .tcs-landing-header {
      background-color: mat.get-color-from-palette($primary, 500, 1);
    }
    .key {
      fill: mat.get-color-from-palette($primary, 500, 1);
    }
  }
}
