<div *ngIf="profileForm; else loading" class="row justify-content-around">
  <section class="col-md-7 col-12">
    <h2 class="mat-h2">{{'profile.title' | translate}}</h2>
    <form [formGroup]="profileForm" (submit)="save()">
      <p class="tsc-error" *ngIf="errorMessage$ | async as errorMessage">
        {{ errorMessage | translate }}
      </p>
      <mat-form-field appearance="outline">
        <mat-label>{{'profile.fullName' | translate}}</mat-label>
        <input matInput formControlName="displayName" type="text">
        <mat-error *ngIf="profileForm.controls.displayName.touched && profileForm.controls.displayName.invalid">
          <span *ngIf="profileForm.controls.displayName.errors.required">{{'validator.required' | translate}}</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{'profile.dateOfBirth' | translate}}</mat-label>
        <input matInput [matDatepicker]="dateOfBirth" formControlName="dateOfBirth"
          (dateChange)="dateChange($event.value)">
        <mat-datepicker-toggle matSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
        <mat-datepicker #dateOfBirth></mat-datepicker>
        <mat-error *ngIf="profileForm.controls.dateOfBirth.touched && profileForm.controls.dateOfBirth.invalid">
          <span *ngIf="profileForm.controls.dateOfBirth.errors.required">{{'validator.required' | translate}}</span>
        </mat-error>
      </mat-form-field>
      <div class="tsc-sports-options">
        <label class="mat-label">{{'profile.sports' | translate}}</label>
        <div class="tsc-sport-img-container">
          <div *ngFor="let sport of sports" [class]="'tsc-sport-img tsc-sport-' + sport.name"
            [class.selected]="sport.selected" [attr.aria-label]="sport.name | translate" (click)="sportSelected(sport)">
          </div>
        </div>
      </div>
      <button mat-raised-button color="accent" type="submit">{{'profile.save' | translate}}</button>
      <mat-progress-bar *ngIf="userUpdating$ | async" mode="indeterminate"></mat-progress-bar>
      <button mat-raised-button color="primary" type="button" (click)="reset()">{{'profile.reset' | translate}}</button>
    </form>
  </section>
  <section class="col-md-4 col-12">
    <h2 class="mat-h2">{{'profile.credentials' | translate}}</h2>
    <form [formGroup]="updatePasswordForm" (submit)="updatePassword()">
      <p class="tsc-success" *ngIf="passwordUpdated$ | async as passwordUpdated">
        {{'profile.passwordUpdated' | translate}}
      </p>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>{{'profile.oldPassword' | translate}}</mat-label>
        <input matInput formControlName="oldPassword" type="password">
        <mat-error
          *ngIf="updatePasswordForm.controls.oldPassword.touched && updatePasswordForm.controls.oldPassword.invalid">
          <span *ngIf="updatePasswordForm.controls.oldPassword.errors.required">{{'validator.required' |
            translate}}</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>{{'profile.newPassword' | translate}}</mat-label>
        <input matInput formControlName="newPassword" type="password">
        <mat-error
          *ngIf="updatePasswordForm.controls.newPassword.touched && updatePasswordForm.controls.newPassword.invalid">
          <span *ngIf="updatePasswordForm.controls.newPassword.errors.required">{{'validator.required' |
            translate}}</span>
        </mat-error>
      </mat-form-field>

      <tcs-password-strength-bar *ngIf="!!updatePasswordForm.controls.newPassword.value"
        [passwordToCheck]="updatePasswordForm.controls.newPassword.value"></tcs-password-strength-bar>

      <button mat-raised-button color="accent" type="submit">{{'profile.updatePassword' | translate}}</button>
      <mat-progress-bar *ngIf="passwordUpdating$ | async" mode="indeterminate"></mat-progress-bar>
    </form>
  </section>
</div>
<ng-template #loading>
  <div class="tcs-center-loading">
    <mat-spinner color="primary"></mat-spinner>
  </div>
</ng-template>
