@use 'sass:map';
@use 'sass:meta';
@use '@angular/material' as mat;

// TODO: Study how to get from @isg/ui/themes
@use './libs/ui/src/lib/styles/themes' as uiTheme;

// Plus imports for other components in your app.
@use './libs/ui/src/lib/styles/themes/core_blue_light' as light;
@use './libs/ui/src/lib/styles/themes/core_dark' as dark;
// @use './styles/typography/config' as typography;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$light-theme: light.$tcs-light-theme;
$light-variants: light.$tcs-light-variants;
$dark-theme: dark.$tcs-dark-theme;
$dark-variants: dark.$tcs-dark-variants;

.light-theme {
  $backgroundColor: #f7f9fc;
  $color: map.get($light-theme, 'color');
  $colorBackground: map.get($color, 'background');
  $colorBackground: map.set($colorBackground, 'background', $backgroundColor);
  $color: map.set($color, 'background', $colorBackground);
  $light-theme: map.set($light-theme, 'color', $color);

  @include mat.all-component-themes($light-theme);
  @include uiTheme.theme($light-theme, $light-variants);
}

.dark-theme {
  @include mat.all-component-colors($dark-theme);
  @include uiTheme.theme($dark-theme, $dark-variants);
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

/* Foreground Keys:
base
divider
dividers
disabled
disabled-button
disabled-text
hint-text
secondary-text
icon
icons
text
slider-off
slider-off-active
*/

/* Background Keys:
status-bar
app-bar
background
hover
card
dialog
disabled-button
raised-button
focused-button
selected-button
selected-disabled-button
disabled-button-toggle
*/
