<!-- <section class="dark">
  <h1 class="mat-h1 text-center">{{'register.title' | translate}}</h1>
  <div class="access-buttons-container">
    <button mat-raised-button class="btn-facebook">
      <mat-icon>facebook</mat-icon>
      {{'register.accessFacebook' | translate}}
    </button>
    <button mat-raised-button (click)="registerGoogle()">
      <mat-icon svgIcon="googleLogo"></mat-icon>
      {{'register.accessGoogle' | translate}}
    </button>
    <button mat-raised-button>
      <mat-icon svgIcon="appleLogo"></mat-icon>
      {{'register.accessApple' | translate}}
    </button>
  </div>
  <h2 class="mat-h2 text-center">{{'register.useEmailPassword' | translate}}</h2>
  <form [formGroup]="registrationForm" (submit)="register()">
    <p class="tsc-error" *ngIf="errorMessage$ | async as errorMessage">
      {{ errorMessage | translate }}
    </p>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>{{'register.fullName' | translate}}</mat-label>
      <input matInput formControlName="fullName" type="text">
      <mat-error *ngIf="registrationForm.controls.fullName.touched && registrationForm.controls.fullName.invalid">
        <span *ngIf="registrationForm.controls.fullName.errors.required">{{'validator.required' | translate}}</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>{{'register.email' | translate}}</mat-label>
      <input matInput formControlName="email" type="email">
      <mat-error *ngIf="registrationForm.controls.email.touched && registrationForm.controls.email.invalid">
        <span *ngIf="registrationForm.controls.email.errors.required">{{'validator.required' | translate}}</span>
        <span *ngIf="registrationForm.controls.email.errors.pattern">{{'validator.invalid' | translate}}</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>{{'register.password' | translate}}</mat-label>
      <input matInput formControlName="password" type="password">
      <mat-error *ngIf="registrationForm.controls.password.touched && registrationForm.controls.password.invalid">
        <span *ngIf="registrationForm.controls.password.errors.required">{{'validator.required' | translate}}</span>
      </mat-error>
    </mat-form-field>
    <tcs-password-strength-bar *ngIf="!!registrationForm.controls.password.value" [passwordToCheck]="registrationForm.controls.password.value"></tcs-password-strength-bar>
    <button mat-raised-button color="accent" type="submit">{{'register.signUp' | translate}}</button>
    <mat-progress-bar *ngIf="isLoading$ | async" mode="indeterminate"></mat-progress-bar>
  </form>
</section> -->
