<mat-sidenav-container *isAuthorized="true">
  <mat-sidenav #sidenav mode="side" opened [fixedInViewport]="true" [fixedTopGap]="0" [fixedBottomGap]="0">
    <div class="tsc-sidenav">
      <div class="tsc-sidenav-btn-container inline">
        <button mat-button aria-label="Club Dashboard">
          <mat-icon>dashboard</mat-icon>
          Club Dashboard
        </button>
        <button mat-button aria-label="Club Management">
          <mat-icon>settings</mat-icon>
        </button>
      </div>
      <div class="tsc-sidenav-btn-container">
        <h3>Athlete</h3>
        <div class="list">
          <button mat-button aria-label="Athlete Dashboard">
            <mat-icon>dashboard</mat-icon>
            Dashboard
          </button>
          <button mat-button aria-label="User Races">
            <mat-icon>directions_run</mat-icon>
            Races
          </button>
          <button mat-button aria-label="User Races">
            <mat-icon>bike_scooter</mat-icon>
            Gear
          </button>
          <button mat-button aria-label="User Profile">
            <mat-icon>person</mat-icon>
            Profile
          </button>
        </div>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
<main [class.logged-container]="isLoggedIn$ | async">
  <mat-toolbar role="heading" [class.tsc-public-logo]="!(isLoggedIn$ | async)">
    <span class=" spacer"></span>
    <button mat-icon-button (click)="switchTheme()" aria-label="Login button">
      <mat-icon>format_color_fill</mat-icon>
    </button>
    <button *isAuthorized="false" mat-icon-button routerLink='auth/login' routerLinkActive="active"
      aria-label="Login button">
      <mat-icon>power_settings_new</mat-icon>
    </button>
    <button *isAuthorized="true" mat-icon-button (click)="logout()" aria-label="Logout button">
      <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar>
  <div class="tsc-main-container">
    <router-outlet></router-outlet>
  </div>
</main>
