<tcs-header (switchTheme)="switchTheme()"></tcs-header>

<main [class.public]="!(auth.isAuthenticated$ | async)">
  <router-outlet></router-outlet>
</main>

<isg-notification-container></isg-notification-container>

<!-- <footer *ngIf="!hasRoute('login') && !hasRoute('register')">
  <span>Resources:</span>
  <span>Background Photo by <a href="https://unsplash.com/@stribby?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">scott tribby</a> on <a href="/s/photos/triathlon?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </span>
</footer> -->
