@use '../../../../libs/ui/src/lib/styles/mixin/responsive.mixin.scss' as uiMixin;

:host {
  main {
    position: relative;
    margin: auto;
    width: 100%;
    overflow: auto;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 60px;
  }

  @include uiMixin.screen('desktop') {
    main {
      width: 1300px;
      padding-bottom: 64px;
      overflow: hidden;
      &.public {
        width: 100%;
      }
    }
  }
}
