@use 'sass:map';
@use 'sass:meta';
@use '@angular/material' as mat;

@mixin color($theme) {
  $config: mat.get-color-config($theme);
  $primary: map.get($config, 'primary');
  $background: map.get($config, 'background');

  tcs-header {
    .mat-toolbar {
      background: mat.get-color-from-palette($background, 'background');
    }
    #top-menu {
      isg-button {
        .mat-mdc-button-base:not(#profile-menu),
        .mat-icon {
          color: mat.get-color-from-palette($primary, '500-contrast') !important;
        }
      }
    }
  }
}
