<mat-toolbar role="heading" class="mat-elevation-z1">
  <mat-toolbar-row>
    <isg-button id="side-menu" [id]="'main-menu'" [variant]="'icon'" [label]="'header.navigation' | translate">
      <mat-icon slot="button-icon">menu</mat-icon>
    </isg-button>
    <a class="public-logo" href="/"></a>

    <div id="top-menu" *ngIf="auth.isAuthenticated$ | async">
      <mat-menu #dashboardMenu="matMenu">
        <button mat-menu-item (click)="onGoTo('/dashboard')">
          {{ 'header.dashboard.activities' | translate }}
        </button>
      </mat-menu>
      <isg-button [id]="'dashboard-menu'" [variant]="'menu'" [label]="'header.dashboard.title' | translate" [menuContent]="dashboardMenu">
        <mat-icon slot="menu-icon"> keyboard_arrow_down </mat-icon>
      </isg-button>

      <mat-menu #trainingMenu="matMenu">
        <button mat-menu-item (click)="onGoTo('/athlete/profile')">
          {{ 'header.training.schedule' | translate }}
        </button>
      </mat-menu>
      <isg-button [id]="'training-menu'" [variant]="'menu'" [label]="'header.training.title' | translate" [menuContent]="trainingMenu">
        <mat-icon slot="menu-icon"> keyboard_arrow_down </mat-icon>
      </isg-button>
    </div>

    <span class="spacer"></span>
    <ng-container *ngIf="auth.isAuthenticated$ | async">
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item (click)="onGoTo('/settings/profile')">
          {{ 'header.profile' | translate }}
        </button>
        <button mat-menu-item (click)="onLogout()">
          {{ 'header.signOut' | translate }}
        </button>
      </mat-menu>
      <isg-button *ngIf="userService.profile$ | async as profile" [id]="'profile-menu'" [variant]="'menu'" [menuContent]="profileMenu">
        <img slot="menu-img"  [src]="profile.avatar.data" [alt]="profile.avatar.name" />
        <mat-icon slot="menu-icon"> keyboard_arrow_down </mat-icon>
      </isg-button>
    </ng-container>

    <tcs-theme-switch (switchTheme)="onSwitchTheme()"></tcs-theme-switch>
  </mat-toolbar-row>
</mat-toolbar>
