<mat-toolbar role="heading">
  <mat-toolbar-row class="tsc-public-logo">
    <button mat-icon-button class="d-md-none d-block">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="public-logo" href="/"></a>
    <div *isAuthorized="true" class="d-md-block d-none">
      <a mat-button [routerLink]="'/dashboard'"> Dashboard </a>
      <a mat-button [routerLink]="'/activities'"> Activities </a>
      <a mat-button [routerLink]="'/athlete/profile'"> Profile </a>
    </div>
    <span class="spacer"></span>
    <ng-container *isAuthorized="false">
      <button *ngIf="!hasRoute('login'); else registerBtn" id="tcsLoginBtn" mat-raised-button color="accent"
        class="mx-4" routerLink='login' aria-label="Login button">
        {{'header.signIn' | translate}}
      </button>
      <ng-template #registerBtn>
        <button id="tcsLoginBtn" mat-raised-button color="accent" class="mx-4" routerLink='athlete/register'
          aria-label="Login button">
          {{'header.register' | translate}}
        </button>
      </ng-template>
    </ng-container>

    <tcs-logout *isAuthorized="true"></tcs-logout>

  </mat-toolbar-row>

  <!-- <mat-toolbar-row>
      <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
    </mat-toolbar-row> -->

  <!-- <span class="spacer"></span>
  <div>
    <ng-container *isAuthorized="false">
      <button *ngIf="!hasRoute('login'); else registerBtn" id="tcsLoginBtn" mat-raised-button color="accent"
        class="mx-4" routerLink='login' aria-label="Login button">
        {{'header.signIn' | translate}}
      </button>
      <ng-template #registerBtn>
        <button id="tcsLoginBtn" mat-raised-button color="accent" class="mx-4" routerLink='athlete/register'
          aria-label="Login button">
          {{'header.register' | translate}}
        </button>
      </ng-template>
    </ng-container>
    <button id="tcsLogoutBtn" mat-raised-button class="mx-4" *isAuthorized="true" (click)="logout()"
      aria-label="Logout button">
      {{'header.signOut' | translate}}
    </button>
  </div> -->
</mat-toolbar>
