@use 'sass:map';
@use '@angular/material' as mat;
@use '../../../../../libs/ui/src/lib/styles/themes' as uiTheme;
@use '../../../../../libs/ui/src/lib/styles/themes/palettes' as palette;

@use '../typography/config' as typography;
@use '../../app/components' as components;
@use '../../app/containers' as containers;

$tcs-dark-primary: mat.define-palette(palette.$dark-blue-palette);
$tcs-dark-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$tcs-dark-warn: mat.define-palette(mat.$deep-orange-palette);

$tcs-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $tcs-dark-primary,
      accent: $tcs-dark-accent,
      warn: $tcs-dark-warn,
    ),
  )
);

$tcs-dark-success: mat.define-palette(mat.$light-green-palette);
$tcs-dark-info: mat.define-palette(mat.$light-blue-palette);
$tcs-dark-variants: (
  success: $tcs-dark-success,
  info: $tcs-dark-info,
);

.dark-theme {
  @include mat.core-theme($tcs-dark-theme);
  @include mat.button-theme($tcs-dark-theme);
  @include mat.menu-theme($tcs-dark-theme);
  @include mat.toolbar-theme($tcs-dark-theme);
  @include mat.snack-bar-theme($tcs-dark-theme);
  @include mat.form-field-theme($tcs-dark-theme);
  @include mat.input-theme($tcs-dark-theme);
  @include mat.select-theme($tcs-dark-theme);
  @include mat.progress-bar-theme($tcs-dark-theme);
  @include components.theme(
    $tcs-dark-theme,
    typography.$tcs-typography,
    $tcs-dark-variants
  );
  @include containers.theme(
    $tcs-dark-theme,
    typography.$tcs-typography,
    $tcs-dark-variants
  );
  @include uiTheme.theme(
    $tcs-dark-theme,
    typography.$tcs-typography,
    $tcs-dark-variants
  );

  // Custom

  .public-logo {
    background-image: url('/assets/images/logo-light.png') !important;
  }
}
